- extends 'WorkActivityBundle:Layout:main.html.haml'

- block content
  %a.btn.btn-success{:href => "#"}= "add new activity"
  %a.btn.btn-success{:href => path('workactivity_period_index')}= "register project"
