- extends 'WorkActivityBundle:Layout:main.html.haml'

- block content
  %a.btn.btn-success{:href => path('workactivity_project_index')}= "projects"
  %a.btn.btn-success{:href => path('workactivity_period_index')}= "periods"
