- extends 'WorkActivityBundle:Layout:main.html.haml'

- block content
  %a.btn.btn-default.btn-lg.w-100{:href => path('workactivity_project_index')}= "list of registered projects"
  %a.btn.btn-default.btn-lg.w-100{:href => path('workactivity_period_index')}= "periods"
