html,body {
    height: 100%;
}

.app-header {
    background: black;
    margin-top: -20px;
    height: 85px;
    -moz-box-shadow: 0 4px 4px -2px #000000;
    box-shadow: 0 10px 10px -5px #000000;
    margin-bottom: 50px;
    padding: 11px;
}

.app-header >h1 {
    color: white;

}

.content {
    padding: 15px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #4c525c;
    /*min-width: 1200px;*/
    /*height: 100%;*/
    background: rgba(52, 210, 210, 0.31);
}

.from {
    display: inline-block;
    margin: 20px;
}

.to {
    display: inline-block;
    margin: 20px;
}

.period-save {
    margin-left: 20px;
    margin-top: 20px;
}

.period {
    display: inline-block;
}

.holiday {
    margin: 20px;
}

.m-5 {
    margin: 10px;
}

.date-from, .date-to {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}
.time {
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    color: darkblue;
    margin-right: 50px;
}

.w-100 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}
.show-date {
    border: 1px solid rgba(30, 144, 255, 0.11);
    width: 500px;
    padding-left: 40px;
    border-radius: 5px;
    display: inline-block;
    background: rgba(51, 152, 131, 0.1);
    margin-bottom: 5px;
}
.m-t-120 {
    margin-top: 120px;
}

.m-t-60 {
    margin-top: 60px;
}

.header-large-text {
    margin-left: 70px;
    font-size: 30px;
    color: blue;
    font-family: bold;
    display: inline-block;
}

.new-period-btn{
    display: inline-block;
    float: right;
    margin-right: 50px;
}

.work-activity-left {
    margin-left: 70px;
    display: inline-block;
}

.activity-right{
    display: inline-block;
    float: right;
    margin-right: 50px;
}

.current-period {
    display: inline-block;
    font-size: 30px;
    text-transform: capitalize;
    color: blue;
    font-family: bold;
}

.activity-content {
    margin-top: 40px;
    padding: 20px;
    background: rgba(64, 173, 165, 0.04);
}
