- extends 'AppBundle:Layout:main.html.haml'

- block content
  .left.main-menu
    %a{:href => path('app_purchase_index')}
      %h1= "Purchase"
  .right.main-menu
    %a{:href => path('workactivity_default_index')}
      %h1= "Work Activity"



  %a.btn.btn-danger{:href => 'https://www.google.com/'}= 'test'



















  %a.btn.btn-danger{:href=> "https://www.facebook.com"}enter
  <form action='http://best-way.dev/app_dev.php/' method='post'>
  <input type='text' name='input_test'/>
  <input type='submit' value='apasa pe gaz'/>
  </form>

















