- extends 'AppBundle:Layout:main.html.haml'

- block content
  .left.main-menu
    %a{:href => path('app_purchase_index')}
      %h1= "Purchase"
  .right.main-menu
    %a{:href => path('workactivity_default_index')}
      %h1= "Work Activity"
